*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background: rgb(250, 250, 250);
}

#desktop{
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* #desktop .main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

#desktop div.main-space{
    margin-top: 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#desktop div.main-space .left-space{
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png");
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    flex-basis: 380.32px;
    height: 581.15px;
    margin-bottom: 12px;
    margin-right: 32px;
    position: relative;
}

#desktop div.main-space .left-space img{
    position: absolute;
    right: 17.313px;
    bottom: 15px;
}

#desktop div.main-space .right-space{
    width: 350px;

    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

#desktop div.main-space .right-space .login-form{
    background: white;
    width: 350px;

    padding: 10px 0;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgb(219, 219, 219);
}

#desktop div.main-space .right-space .login-form .logo{
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png");
    background-position: 0px -48px; 
    background-size: auto; 
    width: 175px; 
    height: 55px; 
    margin: 36px 0 12px 0;
    background-repeat: no-repeat; 
    display: inline-block;
}

#desktop div.main-space .right-space .login-form .form-area{
    padding: 24px 0 10px 0;
    display: flex;
    flex-direction: column;
    

}

.form-area input{
    border: 1px solid rgb(219, 219, 219);
    background: rgb(250, 250, 250);
    max-width: 266px;
    height: 38px;
    margin-bottom: 6px;
    border-radius: 3px;
    font-size: 12px;

    padding: 0 8px;
}

.form-area input::placeholder{
    color: rgb(142, 142, 142);
}

.form-area input:focus{
    border: 1px solid rgb(168, 168, 168);
    outline: none;
}

.form-area .login-btn{
    display: flex;
    justify-content: center;
    width: 266px;
    height: 30px;
    margin: 8px 0;
    padding: 5px 9px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    background: rgb(0, 149, 246);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-area .login-btn div{
    height: 16px;
    width: 16px;
    animation: rotate-loader infinite 2s linear;
}

@keyframes rotate-loader{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


.form-area .login-btn:enabled:active{
    background: rgba(0, 149, 246, 0.7);
}

.form-area .login-btn:disabled{
    background: rgba(0, 149, 246, 0.3);
    cursor: auto;
}

.form-area .login-btn:focus{
    outline: none;
}

#desktop .form-area .or-seperator{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 18px;
}

#desktop .form-area .or-seperator span{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(142, 142, 142);
    font-size: 13px;
    margin: 0 18px;
}

#desktop .or-seperator .line{
    flex-grow: 1;
    height: 1px;
    background: rgb(219, 219, 219);
}

#desktop button.fb-login{
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;
    margin: 8px 0;
}

#desktop button.fb-login .fb-logo{
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png");
    display: inline-block;
    background-position: -414px -259px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#desktop button.fb-login .fb-login-txt{
    color: #385185;
    font-weight: bold;
    line-height: 16px;
    display: inline-block;
    font-size: 14px;
}

#desktop a.forgot-pwd{
    color: #385898;
    font-size: 12px;
    text-decoration: none;
    margin-top: 12px;
    font-weight: 400;
    text-align: center;
}

.signup-section{
    background: white;
    border: 1px solid rgb(219, 219, 219);
    padding: 10px 0;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-section .signup-txt{
    margin: 12px 0 11px 0;
    font-size: 14px;
}

.signup-section .signup-txt a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 149, 246);
}

#desktop div.main-space .right-space .get-app{
    display: flex;
    flex-direction: column;
}

#desktop .get-app .txt{
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

#desktop .get-app .download-links{
    text-align: center;
    margin: 10px 0;
}

#desktop .get-app .download-links a{
    text-decoration: none;
}

#desktop .get-app .download-links img{
    height: 40px;
}

.footer{
    padding: 20px 20px 52px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul{
    text-align: center;
    list-style-type: none;
}

.footer ul li{
    margin: -2px 8px 9px 8px;
    display: inline-block;
}
.footer ul li a, #desktop .footer section{
    font-size: 12px;
    color: rgb(142, 142, 142);
    text-decoration: none;
}

#splash-screen-desktop{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#splash-screen-desktop .meta-mark{
    position: fixed;
    bottom: 20px;
    width: 72px;
    left: calc(50% - 36px);
}

#splash-screen-phone{
    display: none;
    background: white;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

@media only screen and (max-width: 880px) {
    #desktop .main-space .left-space{
      display: none;
    }
}

#phone{
    background: white;
    display: none;
    flex-direction: column;
}

@media only screen and (max-width: 410px){
    #desktop{
        display: none;
    }
    #splash-screen-desktop{
        display: none;
    }
    #phone{
        display: flex;
    }
    #splash-screen-phone{
        display: flex;
    }
}

#phone .login-form{
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#phone .lang-section{
    margin: 16px 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone .lang-section .lang-widget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#phone .lang-section .lang-label{
    font-size: 12px;
    color: rgb(142, 142, 142);
    margin-right: 5px;
}

#phone .login-form .logo{
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png");
    background-position: 0px -52px; 
    background-size: auto; 
    width: 175px; 
    height: 51px; 
    margin: 36px 0 42px 0;
    background-repeat: no-repeat; 
    display: inline-block;
}

#phone .login-form button.fb-login{
    border: none;
    border-radius: 4px;
    background: rgb(0, 149, 246);
    width: 100%;
    min-height: 32px;
    color: white;
    padding: 5px 9px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone .login-form button.fb-login .fb-logo{
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yV/r/6JqvJ6H_bFT.png");
    display: inline-block;
    background-size: 440px 411px;
    background-position: -364px -329px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#phone .login-form button.fb-login .fb-login-txt{

    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
}

#phone .or-seperator{
    margin: 14px 0 22px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#phone .or-seperator span{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(142, 142, 142);
    font-size: 13px;
    margin: 0 18px;
}

#phone .or-seperator .line{
    flex-grow: 1;
    height: 1px;
    background: rgb(219, 219, 219);
}

#phone .form-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#phone .form-area a.forgot-pwd{
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 149, 246);
    margin: 12px 0 20px 0;
}

#phone .login-form .meta-mark{
    margin-top: auto;
    margin-bottom: 30px;
    width: 52px;
    height: 26px;
    background-size: 553px 528px;
    background-position: -242px -194px;
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yz/r/quLU_xi5ZD1.png");
}

#dialog-shadow{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgb(0, 0, 0, 0.65);

    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#dialog{
    background: white;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    
    transition: 200ms;
    opacity: 1;
    transform: scale(1, 1) translateY(0);
}

#dialog.hidden{
    opacity: 0;
    transform: scale(0.5, 0.5) translateY(80px);
}

#dialog .title{
    text-align: center;
    margin: 32px 32px 10px 32px;
    font-size: 18px;
    font-weight: bold;
}

#dialog .txt{
    text-align: center;
    margin: 0 32px 22px 32px;
    font-size: 14px;
    color: rgb(142, 142, 142);
}

#dialog button{
    color: rgb(0, 149, 246);
    background: transparent;
    border: none;
    border-radius: 0 0 12px 12px;
    border-top: 1px solid rgb(219, 219, 219);
    height: 48px;
    font-weight: bold;
    font-size: 14px;
}

#dialog button:active{
    background: rgb(230, 230, 230);
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;    
    }
    100%{
        opacity: 0;
    }
}